.capname {
    text-transform: capitalize;
}

input#req-loc,
input#req-ing-search{
    display: inline-block;
    font-weight: normal;
}

input.c-datepicker-input {
    cursor: pointer;
}

div#req_getLocMap {
    width: 100%;
    height: 40vh;
}

.req-ing-wrap {
    width: 100%;
    text-align: center;
}

.req-ing-wrap div,
.req-ing-wrap table {
    display: inline-block;
}

.req-want-table,
.req-have-table,
.req-ing-table {
    overflow-y: auto;
    height: 50vh;
}

.req-want-table tbody,
.req-have-table tbody,
.req-ing-table tbody {
    text-align: left;
}

.req-ing-table input[name="req-want"],
.req-ing-table input[name="req-have"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.req-ing-table input[name="req-want"]:checked ~ label,
.req-ing-table input[name="req-have"]:checked ~ label {
    background-color: #004445;
    color: white;
}

.req-ing-table span.tags {
    font-size: 0.75em;
    color: grey;
}

.req-ing-table span.name {
    font-weigth: bold;
    font-size: 1.1em;
}