div#req_getLocMap {
    width: 100%;
    height: 40vh;
}

.match-list{
    list-style-type: none;
    margin: 0;
    padding:0;
}

.match-list li {
    border-bottom: 1px solid #ddd;
    position: relative;
}

.match-list li .right-opts{
    position: absolute;
    top: 0.5em;
    right: 0;
}

.match-list li .right-opts button{
    margin-right: 1em;
}

.match-list li:last-child {
    border-bottom: 0;
}