<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sandwich 4 Us</title>
        <meta charset="UTF-8">
        <meta name="description" content="Worlds first P2P sandwich matching service!">
        <meta name="keywords" content="P2P, Sandwich">
        <meta name="author" content="Fraser Bullock">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="./common/img/favicon.ico">

        {{> page/css}}
    </head>
    <body>
        {{> page/nav}}
        
        <div class="content">
            {{{body}}}
        </div>

        {{> page/footer}}
        
        {{> page/js}}
    </body>
</html>