 <section class="tile about">
     <div class="tile-header">
         <h2>How It All Works</h2>
     </div>
     <div class="tile-body">
         <h2>About</h2>
         <p>Sandwich 4 Us is the worlds first Peer 2 Peer sandwich creation platform!</p>
         <p>Feeling hungry? Want a sandwich? Only got half the ingredients? Just simply enter your details into the form along with what ingredients you have and what you want. Our service will then match you to someone close by that has the best match for ingredinent requirements.</p>
         <p>Once matched with someone, you'll then be able to communicate with your new sandwich buddy using our integrated chat to arrange a meetup with them to make the sandwich of both of your dreams.</p>
         <h2>Theme</h2>
         <p>For some unknown reason all the existing, well established frameworks on the internet has disapeared... No worries! We created our own!</p>
         <p>The sandwich theme is a basic approach to responsive design incorperating material-inspired flat, one page design. The theme consists of a navigation bar at the top, content tiles and a footer (because footers are still relevant *cough*). Only one content tile is shown at a time, and their display is toggled using links or the navigation bar.</p>
         <h2>License</h2>
         <p>This Website and it's resources are under <a href="https://opensource.org/licenses/MIT">MIT license</a>.</p>
     </div>
 </section>