<section class="pure-u-1 pure-u-md-1-2 tile references">
    <div class="tile-header">
        <h2>Acknowlegements</h2>
    </div>
    <div class="tile-body">
        <h2>Resources used:</h2>
        <h3>Style</h3>
        <ul>
            <li><a href="https://purecss.io/">Pure, Yahoo! .</a></li>
        </ul>
        <h3>Code - Front End</h3>
        <ul>
            <li><a href="http://jquery.com/">JQuery, The jQuery Foundation.</a></li>
        </ul>
        <h3>Code - Backend End</h3>
        <ul>
            <li><a href="http://nodejs.org/">Node.js, Node.js Foundation.</a></li>
            <li><a href="http://expressjs.com/">Express, Node.js Foundation.</a></li>
            <li><a href="https://github.com/expressjs/session">Express-session, Node.js Foundation.</a></li>
            <li><a href="http://mongoosejs.com/">Mongoose, LearnBoost.</a></li>
            <li><a href="https://github.com/jdesboeufs/connect-mongo">Connect-Mongo (Mongo Session Storage), Jérôme Desboeufs.</a></li>
            <li><a href="http://handlebarsjs.com/">HandleBars, Yehuda Katz.</a></li>
            <li><a href="https://github.com/ericf/express-handlebars">express-handlebars (HandleBars Engine), Eric Ferraiuolo.</a></li>
        </ul>
        <h3>Code - Testing</h3>
        <ul>
            <li><a href="https://travis-ci.org/">Travis CI.</a></li>
            <li><a href="https://mochajs.org/">Mocha, Mochajs.</a></li>
            <li><a href="https://github.com/defunctzombie/commonjs-assert">Assert, Roman Shtylman.</a></li>
            <li><a href="https://github.com/request/request">Request, Request.</a></li>
        </ul>
        <h3>Fonts</h3>
        <ul>
            <li><a href="https://fonts.google.com/specimen/Patrick+Hand">Google Fonts - Patrick Hand, by Patrick Wagesreiter.</a></li>
            <li><a href="https://fonts.google.com/specimen/Nunito">Google Fonts - Nunito, by Vernon Adams.</a></li>
            <li><a href="https://material.io/icons/">Google Material Icons.</a></li>
        </ul>
        <h3>Images</h3>
        <ul>
            <li><a href="https://pixabay.com/en/sandwich-bread-food-tomato-fresh-311262/">Sandwich Logo, Pixabay, Unknown Artist.</a></li>
            <li><a href="https://pixabay.com/en/lunch-dish-breakfast-cooking-tasty-1326270/">Sandwich Background, Pixabay, Pavlofox.</a></li>
        </ul>
        <h2>Contact</h2>
        <p>Coded by Fraser Bullock for Project 2 of the Cits1401 unit at UWA.</p>
        <p>You can contact me via email at <a href="mailto:21299527@student.uwa.edu.au">21299527@student.uwa.edu.au</a></p>
    </div>
</section>