<section class="pure-u-1 pure-u-lg-2-3 pure-u-xl-1-2 tile register">
    <div class="tile-header">
        <h2>Register to Find Your Sandwich Buddies!</h2>
    </div>
    <div class="tile-body">
        <form class="pure-form pure-form-stacked" action="/register" method="POST">
            <fieldset>
                <legend>Enter Your Details</legend>
                {{#if formMessage}}
                    <span class="pure-form-message">{{formMessage}}</span>
                {{/if}}
                
                <label for="reg-firstname">Your First Name:</label>
                <input id="reg_firstname" name="reg_firstname" type="text" required 
                maxlength="128" pattern="[a-zA-Z][a-zA-Z -]*" placeholder="Jane" 
                value="{{reg_name}}" class="pure-input-1-2"/>
                
                <label for="reg-lastname">Your Last Name:</label>
                <input id="reg_lastname" name="reg_lastname" type="text" required 
                maxlength="128" pattern="[a-zA-Z][a-zA-Z -]*" placeholder="Smith" 
                value="{{reg_name}}" class="pure-input-1-2"/>
                
                <label for="reg-name">Your Email:</label>
                <input id="reg_email" name="reg_email" type="email" required 
                maxlength="128" placeholder="jane.smith@exmaple.com" 
                value="{{reg_email}}" class="pure-input-1-2"/>
                
                <label for="password">Password:</label>
                <input id="reg_password" name="reg_password" type="password" required 
                maxlength="256" placeholder="ThisIsA100%StrongPassword" class="pure-input-1-2">
                
                <label for="password">Confirm Password:</label>
                <input id="reg_password2" name="reg_password2" type="password" required 
                maxlength="256" placeholder="ThisIsA100%StrongPassword" class="pure-input-1-2">
                
                <label for="reg_agree" class="pure-checkbox">
                    <input id="reg_agree" name="reg_agree" required value="agree" 
                    type="checkbox"> I agree to sell my soul for a sandwich
                </label>
                
                <button type="submit" class="pure-button pure-button-primary">Register</button>
            </fieldset>
        </form>
    </div>
</section>