<section class="tile home active">
    <div class="tile-header">
        <h2>Find A Sandwich Buddy!</h2>
    </div>
    <div class="tile-body">
        <form class="sand-form theme-form" action="#">
            <fieldset>
                <legend>Enter Your Details</legend>
                <div class="input-cluster">
                    <label for="sand-name">Your Name:</label>
                    <input id="sand-name" name="sand-name" type="text" required maxlength="128" pattern="[a-zA-Z -]+"/>
                </div>
                <div class="input-cluster">
                    <label for="sand-name">Your Email:</label>
                    <input id="sand-email" name="sand-email" type="email" required maxlength="128"/>
                </div>
            </fieldset>
        </form>
    </div>
</section>