<section class="tile home active">
    <div class="tile-header">
        <h2>Find A Sandwich Buddy!</h2>
    </div>
    <div class="tile-body">
        <form class="sand-form theme-form" action="#">
            <fieldset>
                <legend>Sandwich Details</legend>
                <div class="input-cluster">
                    <label for="sand-loc">Your Postcode/Suburb:</label>
                    <input id="sand-loc" name="sand-loc" type="text" required maxlength="128" pattern="[a-zA-Z -]+|[0-9]{4}"/>
                </div>
                <div class="input-cluster">
                    <label for="sand-loc">Number Of Sanwiches:</label>
                    <input id="sand-num" name="sand-num" type="number" required min="1" max="128" value="1" />
                </div>
            </fieldset>
            <fieldset>
                <legend>Enter Your Sandwich Preferences</legend>
                <ul class="sand-pref">
                    <li><div class="sand-pref-checkbox want">Want</div><div class="sand-pref-checkbox have">Have</div>Ingredient:</li>
                    <li class="bread">
                        white bread
                        <div class="sand-pref-checkbox want">
                            <input type="checkbox" name="sand-pref-want" value="white bread" />
                            <i class="material-icons unchecked">check_box_outline_blank</i>
                            <i class="material-icons checked">check_box</i>
                        </div>
                        <div class="sand-pref-checkbox have">
                            <input type="checkbox" name="sand-pref-have" value="white bread" />
                            <i class="material-icons unchecked">check_box_outline_blank</i>
                            <i class="material-icons checked">check_box</i>
                        </div>
                    </li>
                    <li class="bread">
                        wholegrain bread
                        <div class="sand-pref-checkbox want">
                            <input type="checkbox" name="sand-pref-want" value="wholegrain bread" />
                            <i class="material-icons unchecked">check_box_outline_blank</i>
                            <i class="material-icons checked">check_box</i>
                        </div>
                        <div class="sand-pref-checkbox have">
                            <input type="checkbox" name="sand-pref-have" value="wholegrain bread" />
                            <i class="material-icons unchecked">check_box_outline_blank</i>
                            <i class="material-icons checked">check_box</i>
                        </div>
                    </li>
                    <li class="filling meat">
                        bacon
                        <div class="sand-pref-checkbox want">
                            <input type="checkbox" name="sand-pref-want" value="bacon" />
                            <i class="material-icons unchecked">check_box_outline_blank</i>
                            <i class="material-icons checked">check_box</i>
                        </div>
                        <div class="sand-pref-checkbox have">
                            <input type="checkbox" name="sand-pref-have" value="bacon" />
                            <i class="material-icons unchecked">check_box_outline_blank</i>
                            <i class="material-icons checked">check_box</i>
                        </div>
                    </li>
                    <li class="filling salad">
                        lettuce
                        <div class="sand-pref-checkbox want">
                            <input type="checkbox" name="sand-pref-want" value="lettuce" />
                            <i class="material-icons unchecked">check_box_outline_blank</i>
                            <i class="material-icons checked">check_box</i>
                        </div>
                        <div class="sand-pref-checkbox have">
                            <input type="checkbox" name="sand-pref-have" value="lettuce" />
                            <i class="material-icons unchecked">check_box_outline_blank</i>
                            <i class="material-icons checked">check_box</i>
                        </div>
                    </li>
                    <li class="filling salad">
                        tomato
                        <div class="sand-pref-checkbox want">
                            <input type="checkbox" name="sand-pref-want" value="tomato" />
                            <i class="material-icons unchecked">check_box_outline_blank</i>
                            <i class="material-icons checked">check_box</i>
                        </div>
                        <div class="sand-pref-checkbox have">
                            <input type="checkbox" name="sand-pref-have" value="tomato" />
                            <i class="material-icons unchecked">check_box_outline_blank</i>
                            <i class="material-icons checked">check_box</i>
                        </div>
                    </li>
                    <li class="condiments sauce">
                        tomato sauce
                        <div class="sand-pref-checkbox want">
                            <input type="checkbox" name="sand-pref-want" value="tomato sauce" />
                            <i class="material-icons unchecked">check_box_outline_blank</i>
                            <i class="material-icons checked">check_box</i>
                        </div>
                        <div class="sand-pref-checkbox have">
                            <input type="checkbox" name="sand-pref-have" value="tomato sauce" />
                            <i class="material-icons unchecked">check_box_outline_blank</i>
                            <i class="material-icons checked">check_box</i>
                        </div>
                    </li>
                    <li class="condiments spice">
                        pepper
                        <div class="sand-pref-checkbox want">
                            <input type="checkbox" name="sand-pref-want" value="pepper" />
                            <i class="material-icons unchecked">check_box_outline_blank</i>
                            <i class="material-icons checked">check_box</i>
                        </div>
                        <div class="sand-pref-checkbox have">
                            <input type="checkbox" name="sand-pref-have" value="pepper" />
                            <i class="material-icons unchecked">check_box_outline_blank</i>
                            <i class="material-icons checked">check_box</i>
                        </div>
                    </li>
                    <li class="condiments spice">
                        salt
                        <div class="sand-pref-checkbox want">
                            <input type="checkbox" name="sand-pref-want" value="salt" />
                            <i class="material-icons unchecked">check_box_outline_blank</i>
                            <i class="material-icons checked">check_box</i>
                        </div>
                        <div class="sand-pref-checkbox have">
                            <input type="checkbox" name="sand-pref-have" value="salt" />
                            <i class="material-icons unchecked">check_box_outline_blank</i>
                            <i class="material-icons checked">check_box</i>
                        </div>
                    </li>
                </ul>
                <input type="submit" class="btn" value="Find!" />
            </fieldset>
        </form>
    </div>
</section>