 <footer class="footer pure-g">
     <div class="pure-u-1 pure-u-lg-1-2 pure-g">
         <div class="footer-sect pure-u-1-3">
             <h5 class="title">Sandwich 4 Us</h5>
             <p>
                 <a href="#" class="toggle-section" data-show="home">Home</a><br>
                 <a href="#" class="toggle-section" data-show="about">How it Works</a><br>
                 <a href="#" class="toggle-section" data-show="references">Acknowledgements</a>
             </p>
         </div>
         <div class="footer-sect pure-u-6-24">
             <p style="margin-top: 1em;">
                 Copyright <i class="material-icons" style="font-size:inherit;">copyright</i> 2017 sandwich4.us<br>
                 License: <a href="https://opensource.org/licenses/MIT">MIT</a>
             </p>
         </div>
         <div class="footer-sect pure-u-1-3">
             <p style="margin-top: 1em;">
                 Written By: Faser Bullock (21299527)<br>
                 Last Modified: <span id="last-modified"></span><br>
                 Accessed: <span id="accessed"></span>
             </p>
         </div>
     </div>
 </footer>