 <div class="navbar">
     <input id="nav-menu-toggle" type="checkbox" name="tabs">
       <label for="nav-menu-toggle" id="nav-menu-toggle-label"><i class="material-icons">menu</i></label>
     <div class="nav-logo">
         <img src="./common/img/logo.svg" alt="Picture of a sandwich">
         <h1>Sandwich 4 Us</h1>
     </div>
       <div class="nav-content">
         <button class="nav-button toggle-section active" data-show="home">Home</button>
         <button class="nav-button toggle-section" data-show="about">How it Works</button>
         <button class="nav-button toggle-section" data-show="references">Acknowledgements</button>
     </div>
 </div>