<div class="navbar">
    <input id="nav-menu-toggle" type="checkbox" name="tabs">
    <label for="nav-menu-toggle" id="nav-menu-toggle-label">
        <i class="material-icons closed">menu</i>
        <i class="material-icons open">close</i>
    </label>
    <div class="pure-menu pure-menu-horizontal">
        <a class="pure-menu-link pure-menu-heading" href="/">
            <img src="./common/img/logo.svg" alt="Picture of a sandwich">
            Sandwich 4 Us
        </a>
        <ul class="nav-content pure-menu-list">
            <li class="pure-menu-item {{#if isPageIndex}}pure-menu-selected{{/if}}">
                <a class="pure-menu-link" href="/">Home</a>
            </li>
            <li class="pure-menu-item {{#if isPageAbout}}pure-menu-selected{{/if}}">
                <a class="pure-menu-link" href="/about">How it Works</a>
            </li>
            <li class="pure-menu-item {{#if isPageReferences}}pure-menu-selected{{/if}}">
                <a class="pure-menu-link" href="/references">Acknowledgements</a>
            </li>
            {{#if user}}
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover
                {{#if isPageProfile}}pure-menu-selected{{/if}}">
                    <a class="pure-menu-link capname" href="/profile" id="menuLink1">Hi, {{user.firstname}}</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item {{#if isPageProfile}}pure-menu-selected{{/if}}">
                            <a class="pure-menu-link" href="/profile"><i class="material-icons">account_circle</i> Profile</a>
                        </li>
                        <li class="pure-menu-item"><a class="pure-menu-link" href="/logout"><i class="material-icons">exit_to_app</i> Logout</a></li>
                    </ul>
                </li>
            {{else}}
                <li class="pure-menu-item {{#if isPageLogin}}pure-menu-selected{{/if}}">
                    <a class="pure-menu-link" href="/login">Login</a>
                </li>
                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="/">Register</a>
                </li>
            {{/if}}
        </ul>
    </div>
</div>